#user{
  padding:20px;
}

#content{
  margin:0 auto;
  width:960px;
}


.box{
  border:1px solid #000;
  padding:10px;
  margin-bottom:10px;
}

#balloon{
}

#maincontent{
  float:right;
  width: 750px;
}

*
{
	margin:0px;
}

body,html
{
	background: #5693C9 ;

	background: -moz-linear-gradient(top, #5693C9 0%, #4f85bb 100%) #4f85bb no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5693C9), color-stop(100%,#4f85bb)) #4f85bb no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5693C9', endColorstr='#4f85bb',GradientType=0 ) #4f85bb no-repeat;

	font-family:'Lucida grande',tahoma,verdana,arial,sans-serif;






}
a
{
	color:#213E7C;
	text-decoration:none;
}
/* HEADER*/
.header
{
	position:relative;
	width:75%;
	margin-right:auto;
	margin-left:auto;
	height:100px;
	background-image:url(../images/contactballoonbackground.png);
	background-repeat:no-repeat;
	background-position:220px center;
}
.powered
{
	position:relative;
	width:75%;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}
.powered img
{
	border:0;
	vertical-align:middle;
}
.powered a
{
	text-decoration:none;
}
.logo
{
	float:left;
	width:189px;
	height:69px;
	background-image:url(../images/balloonlogo.png);
	background-repeat:no-repeat;
	margin-left:30px;
	margin-top:20px;
}

/* CONTENU*/
.conteneur
{
	position:relative;
	width:75%;
	margin-right:auto;
	margin-left:auto;
	background-color:#FAFAFA;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.conteneur_header
{
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;

	width:100%;
	background:url(../images/header_bg.png) repeat scroll 0 0 #F8F8F8;
	border-bottom:1px solid #CCCCCC;
}
#poster
{
	padding-top:5px;
	width:100%;
	padding-left:10px;
	padding-right:10px;
}
#poster #entete
{
	float:left;
}
#poster #compteur
{
	float:right;
	padding-right:30px;
	font-weight:bold;

}
#poster .poll-duration{
        float:right;
	padding-right:10px;
}
#poster .poll input{
    width: 140px;
}

#poster p
{
	font-weight:bold;
}
form inlabel { display:block; position: relative; margin: 10px 0;}

form inlabel_poster { display:block; position: relative; margin:0;}
form inlabel_poster label { position: absolute; top: 13px; left: 7px; color:#ccc; }
form inlabel_poster br {display: none;}



#poster #textarea
{
	margin-right:20px;
}
#poster textarea {
	width:100%;
	height:50px;
	border:1px solid #b3b3b3;

	/* css3 */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-top:10px;
	margin-bottom:10px;
	overflow:auto;
}


#poster a:visited
{
	color:#2277BB;
}

#poster .envoyer {
	width:80px;
	height:30px;
	font-size:1.1em;
	font-weight:bold;
	border:none;
	color: #fff;
	border:1px solid #ccc;
/*	background: rgb(137,190,107);
*/
	margin-top:0;
	background:rgb(137,190,107) url(../images/envoyer_bg.png) repeat;
/*	background:url('../../images/envoyer.png') no-repeat top left;*/
	/* css3 */
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

}
#bt_hec
{
	float:left;
}
#bt_send
{
	float:right;
	padding-right:20px;
}
.clear
{
	clear:both;
}
#poster .envoyer:hover {
	width:80px;
	height:30px;
	border:none;
	color: #fff;
	font-weight:bold;
	/*background: #6ec539;*/
	background:url(../images/envoyer_hover.png) no-repeat top left;

}


#menu
{
	height:45px;
	margin:0;
	padding:0;
	width:100%;
}
#menu ul
{
	list-style-type:none;
	margin:0;
	padding-left:0;
	padding-top:5px;
	padding-left:5px;
}

#menu li
{
	float:left;
	line-height:35px;
	padding:0 5px;
}
#menu li a
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	color:#757575;
	font-weight:bold;
	padding:4px 7px;
	text-decoration:none;
	text-shadow: 0 1px 1px #FFFFFF;
}
#menu li.current
{
	color:#000000;
}

#menu li.current a
{
	-moz-border-radius:3px 3px 3px 3px;
	background:url(../images/menu_selected_bg.png) repeat scroll 0 0 transparent;
	border:1px solid #CCCCCC;
}

#menu li a:hover
{
	text-decoration:none;
	color:#ccc;
}

/*Wall*/

#wall ul
{
	list-style-type:none;
	padding-left:50px;
}

.item_wall
{

}

#wall .sondage
{
	float:left;
	text-align:center;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	padding-top:7px;
	padding-left:1px;
	font-size:14px;
	width:50px;
	height:50px;
	z-index:100;
	background:url(../images/chart_50.png) no-repeat;
}

#wall .content .reponses
{
	display:block;
	color:#424242;
	padding-right:50px;
	padding-top:7px;
	margin-left:75px;
	padding-top:10px;
	padding-bottom:20px;
}
#wall .content .reponses li
{
	margin-top:10px;
}


.conteneur #wall ul li .item_wall .content .non_edit_reponse
{
	display:block;
	color:#424242;
	padding-right:50px;
	padding-top:7px;
	margin-left:75px;
}

.conteneur #wall ul li .item_wall .content .non_edit_reponse .ne_content
{
	border:1px solid #CCCCCC;
	margin-left:10px;
	margin-right:10px;
	padding:10px;
	background:#EBEBEB !important;
	background:none;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;

}
#wall .content .non_edit_reponse .ne_date
{
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	padding-left:10px;
}

#wall .vote {
	float:left;
	text-align:center;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	padding-top:7px;
	padding-left:1px;
	font-size:14px;
	width:50px;
	height:50px;
	z-index:100;
	background:url(../images/fond_vote.png) no-repeat;
}
#wall .vote:hover {
	background:url(../images/fond_vote_hover.png) no-repeat;
}

#wall .avote{
  background:url(../images/fond_vote_hover.png) no-repeat;
}

#wall .vote .num {
	font-size:20px;
	line-height:20px;
	color:#fff;
	text-shadow: #ccc 1px 1px 3px;
	font-weight:bold;
	z-index:10;
}
#wall .vote .votes {
	display:block;
	margin-top:5px;
	font-size:12px;
	line-height:14px;
	color:#fff;
}

#wall .vote .reponse {
	position:absolute;
	margin-top:-10px;
	margin-left:4px;
	width:50px;
	height:50px;
	background:url(../images/reponse.png) no-repeat top left;
}
#wall .avalider
{
	background-color:#FFFBCF;
	border:1px dashed #484848;
	margin-right:40px;
	padding-bottom:30px;
}

#wall .content
{
	display:block;
	margin-top:10px;
}
#wall .content .head
{
	display:block;
	color:#336699;
	padding-right:50px;
	padding-top:7px;
	margin-left:75px;
}
#wall .content .date
{
	display:block;
	color:#424242;
	padding-right:50px;
	margin-left:75px;
}

#wall .content .moderation
{
	float:right;
	padding-right:150px;
	padding-bottom:10px;
	vertical-align:middle;
}

#wall .avalider .content .moderation
{
	float:right;
	padding-right:130px;
	padding-bottom:10px;

}

#wall .content .moderation .delete
{
	border:1px solid #666;
	padding:4px;
	background-color:#b71a1a;
	color:#EEE;
	font-weight:bold;
        -moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#wall .content .moderation .delete:hover
{
	background-color:red;
        font-weight:bold;
}

#wall .content .moderation .alaune
{
	border:1px solid #666;
	padding:4px;
	background-color:#4f85bb;
	color:#EEE;
	font-weight:bold;
        -moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#wall .content .moderation .alaune:hover
{
    background-color:#36C;
    font-weight:bold;
}

#wall .content .moderation .valider
{
	border:1px solid #666;
	padding:4px;
	background-color:#070;
	color:#EEE;
	font-weight:bold;
}

#wall .content .moderation .edit_quote
{
	border:1px solid #666;
	padding:4px;
	background-color:#86b542;
	color:#EEE;
	font-weight:bold;
        -moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#wall .content .moderation .edit_quote:hover
{
	background-color:#A8D764;
        font-weight:bold;
}

#wall .content .moderation img
{
	border:medium none;
}

.separation
{
	clear:both;
	margin-top:10px;
	margin-bottom:10px;
	width:60%;
	position:relative;
	margin-right:auto;
	margin-left:auto;
	border-bottom:1px #333 solid;
}

.footer
{
	width:100%;
}

.footer #menu_suivant
{
	margin-top:30px;
	margin-bottom:20px;
}

#suivantes {
	width:300px;
	padding:5px;
	color:#fff;
	text-align:center;
	margin:auto;
	margin-top:10px;

	/* css3 */
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

#suivantes:hover
{
    background-color:#6CF;
}
.color2 {
  background-color: #e8e9eb; }


.color4 {
	background: rgb(136,161,205) ;
}

.footer #copyright
{
	width:100%;
	text-align:center;
	border-top:1px solid #464646;
	padding-top:5px;
	padding-bottom:5px;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;

}
.footer #copyright a{
    display: none;
}

#centerpage
{
	text-align:center;
}

#place_content
{
	height:450px;
}
#admin_event_members
{
	padding-top:20px;
	padding-left:20px;
	float:left;
}

#admin_edit_event
{
	padding-top:20px;
	padding-right:20px;
	float:right;
}
#admin_event_edit{
    padding-top:20px;
    padding-right:20px;
    float:right;
}

#admin_event_members a, #admin_edit_event a, #admin_event_edit a{
	border: 1px solid #53820F;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#86b542),to(#86b542));
	background:-moz-linear-gradient(top,#86b542,#86b542);
	background-color:#86b542;

	-webkit-transition:all 200ms ease-out;
	-moz-transition:all 200ms ease-out;

	border-radius: 3px ;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	line-height: 20px;
	color: #204F00;
	margin: 3px;
	padding: 5px 10px;
	text-shadow: #A8D764 1px 1px 0px;
}

#centerpage ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

#centerpage li {
    padding-top:5px;
    padding-bottom:2px;
}
.conteneur #balloon .col-25 {
    width:25%;
    float:left;
    display: block;
}
.conteneur #balloon .col-50 {
    width:50%;
    float:left;
    display: block;
}
.conteneur #balloon .col-75 {
    width:75%;
    float:left;
    display: block;
}
.conteneur #balloon .col-100 {
    width:100%;
    float:left;
    display: block;
    padding-bottom: 10px;
}
.conteneur #balloon .clear{
    clear: both;
}
.conteneur #balloon .col-100 #label{
    float: left;
    width: 130px;
    color:#666666;
}
.conteneur #balloon .col-100 #field{
    width: 216px;
    float: left;
}
.conteneur #balloon .col-100 #error{
    float: left;
    padding-left: 8px;
}
.conteneur #balloon .col-100 #error ul{
    padding:0px;
    margin:0px;
}

.conteneur #balloon .col-100 #error li{
    list-style: none ;
    color:red;
}


.conteneur #balloon .col-100 #field input{
    border:1px solid #484848;
    padding:8px;
    width:200px;
    border-radius: 5px ;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}

.conteneur #balloon .col-100 #field select{
    border:1px solid #484848;
    padding:8px;
    width:218px;
    border-radius: 5px ;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}

.conteneur #balloon .tab-center{
    text-align: center;
}
.conteneur #balloon .sign_table{
    padding-left: 20px;
}
#wall{
    padding: 5px;
}
.conteneur #balloon .entete h1{
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size:30px;
    color:#213E7C;
}
.conteneur #balloon .register,.edit,.register,.add_answer {
    width:100px;
    height:30px;
    font-size:1.1em;
    font-weight:bold;
    border:none;
    color: #fff;
    border:1px solid #ccc;
/*	background: rgb(137,190,107);
*/
    margin-top:0;
    background:rgb(137,190,107) url(../images/envoyer_bg.png) repeat;
/*	background:url('../../images/envoyer.png') no-repeat top left;*/
    /* css3 */
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.conteneur #balloon .register:hover,.edit:hover, .register:hover,.add_answer:hover {
    width:100px;
    height:30px;
    border:none;
    color: #fff;
    font-weight:bold;
    /*background: #6ec539;*/
    background:url(../images/envoyer_hover.png) repeat top left;
}
.conteneur #balloon .add_answer{
    width:220px;
}
.conteneur #balloon .add_answer:hover{
    width:220px;
}


.conteneur #balloon .login {
    width:100px;
    height:30px;
    font-size:1.1em;
    font-weight:bold;
    border:none;
    color: #fff;
    border:1px solid #ccc;
/*	background: rgb(137,190,107);
*/
    margin-top:0;
    background:rgb(137,190,107) url(../images/envoyer_bg.png) repeat;
/*	background:url('../../images/envoyer.png') no-repeat top left;*/
    /* css3 */
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.conteneur #balloon .login:hover {
    width:100px;
    height:30px;
    border:none;
    color: #fff;
    font-weight:bold;
    /*background: #6ec539;*/
    background:url(../images/envoyer_hover.png) repeat top left;
}
/*POUR LE HOME PAGE*/

.conteneur #balloon .center-page{
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.conteneur #balloon .center-page h1{
    color:#213E7C;
    font-size: 153.9%;
    font-family: 'Lucida grande',tahoma,verdana,arial,sans-serif;
    font-weight:bold;
    border: 20px 0 10px;
    color:#334B61;
}

.conteneur #balloon .center-page #newquotes_container{
    background: #FFFFFF;
    height: 60px;
    margin: 0 10px;
    padding-top: 10px;
}
.conteneur #balloon .center-page #newquotes_container #m_newaction{
    background: #FFFBCF;
    border:1px solid #CCCCCC;
    display: block;
    margin:0 auto;
    padding: 10px;
    text-align: center;
    width: 80%;
}

.conteneur #balloon .left-page{
    padding: 0px 20px 20px;
    font-family: 'Lucida grande',tahoma,verdana,arial,sans-serif;
    font-size:12px;
    color:#334B61;
}
.conteneur #balloon .left-page #corps{
    margin-top: 10px;
}

.conteneur #balloon .left-page .img-center{
    margin-top: 10px;
    width: 500px;
    height: 327px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-image: url(../images/home_img.png);
    background-repeat: no-repeat;
}

.conteneur #balloon .left-page #clear{
    clear: both;
}

.conteneur #balloon .left-page .sms{
    width: 45px;
    height: 45px;
    background-image: url(../images/home_sms.png);
    background-repeat: no-repeat;
    float: left;
}
.conteneur #balloon .left-page .web{
    width: 45px;
    height: 45px;
    background-image: url(../images/home_web.png);
    background-repeat: no-repeat;
    float: left;
}
.conteneur #balloon .left-page .webmobile{
    width: 45px;
    height: 45px;
    background-image: url(../images/home_webmobile.png);
    background-repeat: no-repeat;
    float: left;
}
.conteneur #balloon .left-page .txt {
    float: left;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;

}
.conteneur #balloon .left-page .etape-2{
    clear: both;
    margin-top: 15px;
}

.bouton_valider a, .bouton_supprimer a, .bouton_alaune a, .bouton_repondre a, .bouton_confirmation a {
	-webkit-transition:all 200ms ease-out;
	-moz-transition:all 200ms ease-out;	
	border-radius: 3px ;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	float:right;
	line-height: 20px;
	margin: 3px;
	padding: 5px 10px;
}
.bouton_valider{
    padding-right: 32px;
}
.bouton_valider a:hover, .bouton_supprimer a, .bouton_alaune a, .bouton_repondre a, .bouton_confirmation a {
	text-decoration:none;
	-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);
	-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);
	box-shadow:0 2px 5px rgba(0,0,0,0.2);
}
.bouton_reply a{
    background: -moz-linear-gradient(center top , #CCCC33, #CCCC33) repeat scroll 0 0 transparent;
    border: 1px solid #B4B340;
}
.bouton_reply a:hover{
    background: -moz-linear-gradient(center top , #E1E13A, #C1C131) repeat scroll 0 0 transparent;
}

.bouton_fav {
    float:right;
        
}
.bouton_fav img{
    border: 0px;
}
.admin_buttons {
	float:right;
	width:60%;
        padding-right: 80px;
        padding-bottom: 20px;
}

.admin_buttons span {
	display:block;
}

.bouton_valider a {
	border: 1px solid #53820F;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#86b542),to(#86b542));
	background:-moz-linear-gradient(top,#86b542,#86b542);	
	color: #204F00;
	text-shadow: #A8D764 1px 1px 0px;
}

.bouton_valider a:hover {
	background:!color+111;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#97c653),to(#75a431));
	background:-moz-linear-gradient(top,#97c653,#75a431);
}

.bouton_supprimer a {
	border: 1px solid #c6220c;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#f38359),to(#db6539));
	background:-moz-linear-gradient(top,#f38359,#db6539);	
	color: #ab1d1c;
	text-shadow: #f3a587 1px 1px 0px;
}

.bouton_supprimer a:hover {
	background:!color+111;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#f5916c),to(#da4710));
	background:-moz-linear-gradient(top,#f5916c,#da4710);
}

.bouton_alaune a {
	border: 1px solid #8ca5d1;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#5274b9),to(#5274b9));
	background:-moz-linear-gradient(center top , #5274B9, #5274B9) repeat scroll 0 0 transparent;
	color: #00254A;
	text-shadow: #6699cc 1px 1px 0px;
}

.bouton_alaune a:hover {
	background:!color+111;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#5c81cb),to(#4066b4));
	background:-moz-linear-gradient(top,#5c81cb,#4066b4);
}

.bouton_repondre a {
	border: 1px solid #b4b340;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#cccc33),to(#cccc33));
	background:-moz-linear-gradient(top,#cccc33,#cccc33);	
	color: #484848;
	text-shadow: #cfcf89 1px 1px 0px;
}

.bouton_repondre a:hover {
	background:!color+111;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#e1e13a),to(#c1c131));
	background:-moz-linear-gradient(top,#e1e13a,#c1c131);
}

